:root {
  --base-color: #ff0000;
  --important-color: #6f0000;
  --warning-color: #ffbccd;

  --main-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --secondary-font: "Courier New", Courier, monospace;

  --box-shadow: -0.5rem 0.5rem 0.5rem black;
}
